/* ===== Global ===== */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #ff9a3c, #ff6f3c);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

/* ===== Card ===== */
.login-card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 660px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}
.login-card .brand{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;
    align-items: center;

}
.login-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-right: 10px;
}

.login-card h1 {

    color: #d8000c;
}

/* ===== Form ===== */

.form-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px; /* space between fields */
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #ff6f3c;
}

/* ===== Button ===== */
.btn {
    width: 100%;
    padding: 10px;
    background: #ff6f3c;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #e65c2e;
}

/* ===== Messages ===== */
.error {
    background: #ffdddd;
    color: #d8000c;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.success {
    background: #ddffdd;
    color: #270;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.register-link {
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
}
